<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
    <title>Scheduler </title>
    <link rel="stylesheet" href="http://cdn.kendostatic.com/2014.2.1008/styles/kendo.common.min.css">
    <link rel="stylesheet" href="http://cdn.kendostatic.com/2014.2.1008/styles/kendo.default.min.css">
    <link rel="stylesheet" href="http://cdn.kendostatic.com/2014.2.1008/styles/kendo.dataviz.min.css">
    <link rel="stylesheet" href="http://cdn.kendostatic.com/2014.2.1008/styles/kendo.dataviz.default.min.css">
    <link rel="stylesheet" href="http://cdn.kendostatic.com/2014.2.1008/styles/kendo.mobile.all.min.css">
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
 
    <script src="http://cdn.kendostatic.com/2014.2.1008/js/kendo.all.min.js"></script>
<link rel="stylesheet" href="http://cdn.kendostatic.com/2014.2.1008/styles/kendo.rtl.min.css">
</head>

    <body>
      <div data-init="initLoginView" data-role="view" id="login">
        <header data-role="header">
          <div data-role="navbar">
           
           </div>
        </header>
        <div data-role="content">
          <div id="scheduler"></div>
         
        </div>
      </div>
	<script type="text/javascript">
		var kendoMobileApp = new kendo.mobile.Application($(document.body), { 
			skin: "flat" 
		});

		function initLoginView(e) {
			$("#scheduler").kendoScheduler({
				date: new Date(),     
				showWorkHours: false,     
				height: 100,
				footer:false,
				selectable:false,
				views: [
					"day",
					{ type: "week", selected: true },
					"month"
				],
				mobile: "phone",
				timezone: "Etc/UTC",
				eventTemplate: $("#event-template").html(),
				eventTimeTemplate: $("#event-time-template").html(),
				allDaySlot:false,
				editable: {
					update: true,
					move: true,
					resize: true,
					destroy: true,
					create: true,
					template: $("#editdate").text()
				},
				dataSource: {
					batch: true,
					transport: {
						read: function(e) {
							//alert("In read");
							  $.get('/schedule/getSchedule')
							  .then(function(data) {
								//console.log("data in read",data);
									var response = data;
								  var schedules = [];
								  // for testing adding all the value in cust 0, in future take values dynamically
								  schedules = response.models.cust[0].models; 
								  response.models = schedules;
								  console.log("response.model in read",response);
								  e.success(response.models);
							  });
							},
						update: function(e) {
							//alert("In update");
						  var schedule = e.data.models[0];
						  
						  $.post('/schedule/update', schedule)
						  .then(function(data) {
							console.log("data in pdate",data.models[0].cust[0].models);
							var schedules = [];
							var response;
							schedules = data.models[0].cust[0].models;
							response.models = schedules;
							e.success(data.models[0].cust[0].models);
						  }, function(error) {
							console.log(error);
						  });
						},
						  create: function(ex) {
						  //alert("In create");
							  //var schedule = e.data.models[e.data.models.length -1];
							  console.log("ex in create",ex);
							  var schedule = ex.data.models[0];
							  console.log("schedule in create",schedule);
							  $.post( "/schedule/create",schedule).then(function(data){
								//console.log("data in response in create",data);
								ex.success(data.models[0]);
							  }, function(error) {
								console.log(error);
							  });
							},
							destroy: function(e){
								//alert("In destroy");
								console.log("e in destroy:",e);
								var schedule = e.data.models[0];
						  
								  $.post('/schedule/delete', schedule)
								  .then(function(data) {
									//console.log(data);
									e.success(data.models[0]);
								  }, function(error) {
									console.log(error);
								  });
							},
						parameterMap: function(options, operation) {							
							console.log("operation:",operation);
							if (operation !== "read") {
								return kendo.stringify(options);
							  }
						}
					},
					schema: {
						model: {
							id: "id",
							fields: {
								id: {from:"_id"},
								taskId: { from: "TaskID", type: "number" },
								title: { from: "Title", defaultValue: "No title", validation: { required: true } },
								start: { type: "date", from: "Start" },
								end: { type: "date", from: "End" },
								startTimezone: { from: "StartTimezone" },
								endTimezone: { from: "EndTimezone" },
								description: { from: "Description" },
								recurrenceId: { from: "RecurrenceID" },
								recurrenceRule: { from: "RecurrenceRule" },
								recurrenceException: { from: "RecurrenceException" },
								ownerId: { from: "OwnerID", defaultValue: 1 }
							}
						}
					}
				},
				resources: [
				]
			});

			function fitWidget() {
				var widget = $("#scheduler").data("kendoScheduler");
				var height = $(".km-content").height();

				height = (height * 80) / 100;

				widget.element.height(height);
				widget.element.closest(".km-pane-wrapper").height(height);
				widget.resize(true);
			}

			$(window).resize(function() {
				fitWidget();
			});

			fitWidget();
		}	
	</script>
    </body>
</html>